@model List<geeks.Models.ImportModel>
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2 class="geek">Import from @ViewBag.ImportFrom</h2>
    
    @using (Html.BeginForm("PerformImport","Import"))
    {
        @Html.AntiForgeryToken()

        <button id="import-all" class="btn" type="submit">Import All</button>
        <button class="btn" type="submit">Import Selected</button>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Import</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                
                @for(var i=0; i<Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m[i].Import)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m[i].Name)
                            @Model[i].Name
                        </td>
                        <td>
                            @Html.HiddenFor(m => m[i].EmailAddress)
                            @Model[i].EmailAddress
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

@section scripts{
    <script type="text/javascript">
        $(function() {
            $("#import-all").click(function(e) {
                $(":checkbox").prop("checked", true);
            });

        });
    </script>
}