@model ICollection<geeks.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <fieldset>
        <legend class="geek">Registered external logins</legend>
    
        <table>
            <tbody>
                @foreach (geeks.Models.ExternalLogin externalLogin in Model)
                {
                    <tr>
                        <td>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                <fieldset>
                                    @Html.Hidden("provider", externalLogin.Provider)
                                    @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                    <input type="submit" value="Remove @externalLogin.ProviderDisplayName" class="btn" title="Remove this @externalLogin.ProviderDisplayName credential from your account" />
                                </fieldset>
                            }
                        }
                        else
                        {
                            @externalLogin.ProviderDisplayName
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </fieldset>
}
