@model geeks.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="row-fluid content">
    <div class="span5">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend class="geek">Log in using a local account</legend>
                @Html.LabelFor(m => m.UserName, "User name or email")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                <label class="checkbox">
                    <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true"> Remember Me?
                    <input name="RememberMe" type="hidden" value="false" />
                </label>
                <button class="btn" type="submit">Log In</button>
            </fieldset>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
    </div>
    <div class="span4">
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>
    



@section Scripts {
    <script type="text/javascript">
    
    $(function(){
        $("#nav-bar li.active").removeClass("active");
        $("#login-nav").addClass("active");
    });
    
    </script>
}
