@model geeks.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="content">
<hgroup class="title">
    <h2 class="geek">@ViewBag.Title</h2>
</hgroup>



    <div class="row">
        <div class="span5">
            <p class="message-success">@ViewBag.StatusMessage</p>

            <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            { 
                @Html.Partial("_SetPasswordPartial")
            }
        </div>

        <div class="span4">
            <section id="externalLogins">
                @Html.Action("RemoveExternalLogins")
                <br/>
                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>


@section Scripts {
    <script type="text/javascript">
        $(function(){
            $("#nav-bar li.active").removeClass("active");
            $("#manage-nav").addClass("active");
        });
    </script>}
</div>
