@model geeks.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="content">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend class="geek">Create a new account</legend>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress)
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            <br/>
            <button type="submit" class="btn" >Register</button>
    </fieldset>
}
</div>

@section Scripts {
    <script type="text/javascript">
        $(function(){
            $("#nav-bar li.active").removeClass("active");
            $("#register-nav").addClass("active");
        });
    </script>
}
