@model geeks.Models.EventModel

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CreatedBy)
        <div class="row-fluid">
            <div class="span6">
                <fieldset>
                    <legend class="geek">Enter details to create a new event</legend>
                    @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @class = "input-xxlarge input-block-level", @placeholder = "Title", @style="width:100%" })
                    @Html.ValidationMessageFor(m => m.Title)
                    @Html.TextAreaFor(m => m.Description, htmlAttributes: new { @class = "input-xxlarge input-block-level", @placeholder = "Description", @style = "width:100%" })
                    @Html.ValidationMessageFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Date, htmlAttributes: new { @class = "input-xxlarge input-block-level", @placeholder = "Date and time", @style = "width:100%" })
                    @Html.ValidationMessageFor(m => m.Date)
                    <br/>
                    @Html.TextBoxFor(m => m.Venue, htmlAttributes: new { @class = "input-xxlarge input-block-level", @placeholder = "Venue", @style = "width:100%" })
                    @Html.ValidationMessageFor(m => m.Venue)
                    <br/>
                    <button class="btn" type="submit">Save</button>
                    <br/>
                    @Html.ActionLink("Back to list", "Events", "Home")
                </fieldset>
            </div>
            <div class="span6">
                <fieldset>
                    <legend class="geek">Who's invited</legend>
                    <input class="typeahead" type="text" data-provide="typeahead" autocomplete="false" style="width:100%" />
                    <div id="friends-placeholder" />
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script id="invitees-template" type="text/x-handlebars-template">
        <div id="invitees" class="well well-small">
            {{#each invitees}}
                <div class="alert alert-info">
                    <button type="button" class="close" data-user-id="{{this.userId}}" data-dismiss="alert">&times;</button>
                    {{this.email}}
                    <input type='hidden' name='Invitees[{{@@index}}].UserId' value='{{this.userId}}' />
                </div>
            {{/each}}
        </div>
    </script>

    <script type="text/javascript">
        $(function() {
            var context = { invitees: [] };
            @if (Model.Invitees.Any())
            {
                for(var i=0; i<Model.Invitees.Count; i++)
                {
                    <text>
                    context.invitees.push({
                        email : '@Model.Invitees[i].Email',
                        userId : '@Model.Invitees[i].UserId'
                    });
                    </text>
                }
            }

            var source = $("#invitees-template").html();
            var template = Handlebars.compile(source);
            $("#friends-placeholder")[0].innerHTML = template(context);
            
            $("button.close", "#invitees").click(function() {
                var userId = $(this).attr("data-user-id");
                context.invitees = $.grep(context.invitees, function(item) {
                    return item.userId != userId;
                });
                $("#friends-placeholder")[0].innerHTML = template(context);
            });

            var map = {};
            $('.typeahead').typeahead({
                updater: function(item) {
                    context.invitees.push({
                        userId: map[item],
                        email: item,
                        index: (context.invitees.length + 1)
                    });
                    $("#friends-placeholder")[0].innerHTML = template(context);
                    return "";
                },
                source: function(query, process) {
                    return $.get('@Url.Action("LookupFriends", "Home")', { query: query }, function(data) {
                        var emails = [];
                        map = data;
                        for (var prop in data) {
                            emails.push(prop);
                        }
                        return process(emails);
                    });
                }
            });
        });
    </script>
}